[Unit]
Description=Airflow web server
After=network.target

[Service]
User=ubuntu
EnvironmentFile=/home/ubuntu/big_data_tfm/airflow/.env
ExecStart=/home/ubuntu/big_data_tfm/venv/bin/airflow webserver --port 8080
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target