[Unit]
Description=Airflow scheduler
After=network.target

[Service]
User=ubuntu
EnvironmentFile=/home/ubuntu/big_data_tfm/airflow/.env
ExecStart=/home/ubuntu/big_data_tfm/venv/bin/airflow scheduler
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
